<div id="header-logo-1">
	<h1><%= link_to image_tag("lashful-logo-1.png", :alt => 'Sweet and Lashful', :class => "gallery"), "#intro" %></h1>
</div> <!-- header-logo-1 -->

<div class="grid_12  alpha clearfix intro-menu">
	<ul>
	    <li class="menu-item-1"><%= link_to "Products", "#second", :class => "" %></li>
		<li class="menu-item-2"><%= link_to "Services", "#third", :class => "" %></li>
		<li class="menu-item-3"><%= link_to "Blog", "#fourth", :class => "" %></li>
		<li class="menu-item-4"><%= link_to "About", "#fifth", :class => "" %></li>
	</ul>
</div> <!-- intro-menu -->

<div class="grid_2 intro-contact">
<p><%= link_to "Contact Us" %></p>
</div> <!--  intro-contact -->

<div class="grid_12 alpha clearfix glass">
	<div class="glass-overlay"></div>
  <!--[if lt IE 9]>
    <div class="legacy-ie-fix"></div>
  <![endif]-->
</div>

