
<!DOCTYPE html>
<html>
<head>
  <title>ECommerce</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-1.10.2", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "normalize", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "grid", media: "all", "data-turbolinks-track" => true %>

  <link href='http://fonts.googleapis.com/css?family=Grand+Hotel|Quicksand:400,300,700' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>


  		<script>

<!----- JQUERY FOR SLIDING NAVIGATION --->
$(document).ready(function() {
  $('a[href*=#]:not([href=#])').each(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname
    && this.hash.replace(/#/,'') ) {
      var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
      var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
       if ($target) {
         var targetOffset = $target.offset().top;

<!----- JQUERY CLICK FUNCTION REMOVE AND ADD CLASS "ACTIVE" + SCROLL TO THE #DIV--->
         $(this).click(function() {


           $('html, body').animate({scrollTop: targetOffset}, 800);
           return false;
         });
         // $('#.intro-menu').click(function(){
         // 	$('#.intro-menu').removeClass("active");
         //    $(this).addClass('active');
         // });

         // $('#logo a, #logo-ar a').click(function(){
         // 	$('#nav li a, #nav-ar li a').removeClass("active");
         // });
      }
    }
  });

});

</script>

  <%= csrf_meta_tags %>
</head>
<body>


	<div id="header-logo-1">
		<%= link_to image_tag("lashful-logo-1.png", :alt => 'Sweet and Lashful'), "#intro" %>
    </div> <!-- #header-logo-1 -->


	<div class="grid_12  alpha clearfix intro-menu">
		<ul>
		    <li class="menu-item-1"><%= link_to "Shop", "#second", :class => "" %></li>
			<li class="menu-item-2"><%= link_to "Services", "#third", :class => "" %></li>
			<li class="menu-item-3"><%= link_to "Blog", "#fourth", :class => "" %></li>
			<li class="menu-item-4"><%= link_to "About", "#fifth", :class => "" %></li>
		</ul>
    </div> <!-- .intro-menu -->

        <div id="intro">
        		<div class="container">
	   		<%= render partial: "home" %>
	   		</div> <!-- container -->
		</div> <!--#intro-->

		<div id="second">

		    <%= render partial: "products" %>

		</div> <!--#second-->

		<div id="third">

		   <%= render partial: "services" %>

		</div> <!--#third-->

		<div id="fourth">

			<%= render partial: "blog" %>

		</div>

		<div id="fifth">

			<%= render partial: "about" %>

		</div>


<%= javascript_include_tag "jquery.superscrollorama"%>
<%= javascript_include_tag "TweenMax.min" %>
<%= javascript_include_tag "jquery.scrollorama" %>


<script>

$(document).ready(function() {


		var controller = $.superscrollorama({
			triggerAtCenter: true,
			playoutAnimations: false
		});
	

       controller.pin($('.container'), 800, {
	  anim: (new TimelineLite())

	  .append(
	      TweenMax.fromTo($('.intro-menu'), 5, 
	        {css:{top: 0}, immediateRender:false}, 
	        {css:{top: -60}, }))

	  // .append(
	  //     TweenMax.fromTo($('#header-logo-1 img'), 5, 
	  //       {css:{height: 250}, immediateRender:true}, 
	  //       {css:{height: 300}, }))


	    
	        
});

      


	});



</script>


</body>
</html>