
<!DOCTYPE html>
<html>
<head>
  <title>ECommerce</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "normalize", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "grid", media: "all", "data-turbolinks-track" => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Grand+Hotel::latin', 'Open+Sans:400,300,600:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  		<script>

<!----- JQUERY FOR SLIDING NAVIGATION --->
$(document).ready(function() {
  $('a[href*=#]:not([href=#])').each(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname
    && this.hash.replace(/#/,'') ) {
      var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
      var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
       if ($target) {
         var targetOffset = $target.offset().top;

<!----- JQUERY CLICK FUNCTION REMOVE AND ADD CLASS "ACTIVE" + SCROLL TO THE #DIV--->
         $(this).click(function() {


           $('html, body').animate({scrollTop: targetOffset}, 800);
           return false;
         });
         // $('#.intro-menu').click(function(){
         // 	$('#.intro-menu').removeClass("active");
         //    $(this).addClass('active');
         // });

         // $('#logo a, #logo-ar a').click(function(){
         // 	$('#nav li a, #nav-ar li a').removeClass("active");
         // });
      }
    }
  });

});

</script>

  <%= csrf_meta_tags %>
</head>
<body>


	<div id="header-logo-1">
		<h1><%= link_to image_tag("lashful-logo-1.png", :alt => 'Sweet and Lashful', :class => "gallery"), "#intro" %></h1>
    </div> <!-- #header-logo-1 -->



	<div class="grid_12  alpha clearfix intro-menu">
		<ul>
		    <li class="menu-item-1"><%= link_to "Products", "#second", :class => "" %></li>
			<li class="menu-item-2"><%= link_to "Services", "#third", :class => "" %></li>
			<li class="menu-item-3"><%= link_to "Blog", "#fourth", :class => "" %></li>
			<li class="menu-item-4"><%= link_to "About", "#fifth", :class => "" %></li>
		</ul>
    </div> <!-- .intro-menu -->

        <div id="intro">
        		<div class="container">
	   		<%= render partial: "home" %>
	   		</div> <!-- container -->
		</div> <!--#intro-->

		<div id="second">

		    <%= render partial: "products" %>

		</div> <!--#second-->

		<div id="third">

		   <%= render partial: "services" %>

		</div> <!--#third-->

		<div id="fourth">

			<%= render partial: "blog" %>

		</div>

		<div id="fifth">

			<%= render partial: "about" %>

		</div>


</body>
</html>