<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

 <%= stylesheet_link_tag    "blog/application", media: "all", "data-turbolinks-track" => true %>
 <%= stylesheet_link_tag    "normalize", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "grid", media: "all", "data-turbolinks-track" => true %>

 


<head class="head-new">
  <%= render 'layouts/monologue/application/head' %>
</head>
<body>
  <div class="container">
    <header class="main-header sixteen columns clearfix test">
      <h1 class="main-title"><a href="<%= root_path %>"><%=Monologue::Config.site_name%></a></h1>
      <h2><%=Monologue::Config.site_subtitle%></h2>
     
    </header>

    <div class="content twelve columns">
      <% flash.each do |name, msg| %>
        <div class="flash-notice">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>

  </div>
  <% if content_for?(:footer) %>
    <footer>
      <%= yield :footer %>
    </footer>
  <% end %>
  <%= render 'layouts/monologue/application/disqus' %>
  <%= render 'layouts/monologue/application/gauge_analytics' %>
</body>
</html>