<h1>Listing products</h1>

<table>
  <% @products.each do |product| %>
 
    <td>
      <%= image_tag(product.image_url, class: 'product-image')%> </td>
      <td> 

        <dt><%= product.title %></dt>
        <dd><%= truncate(strip_tags(product.description), length: 80) %></dd> 
    </td>
    <td>
      <%= link_to 'Show', product %><br/>
      <%= link_to 'Edit', edit_product_path(product) %><br/>
      <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td> 
 
  <%end%>
</table> 

<br/>

<%= link_to 'New product', new_product_path %>
