<!DOCTYPE html>
<html>
<head>
  <title>ECommerce</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "normalize", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "grid", media: "all", "data-turbolinks-track" => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Grand+Hotel::latin', 'Open+Sans:400,300,600:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %> 
  <ul>
    <li><%= link_to 'Orders', orders_path %></li> 
    <li><%= link_to 'Products', products_path %></li> 
    <li><%= link_to 'Users', users_path %></li>
  </ul>
  <%= button_to 'Logout', logout_path, method: :delete %>
<% end %>


<% if @cart %>

  <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>

	    <%= render @cart %>

  <%end%>

<% end %>


<%= yield %>

</body>
</html>
